body
{
    margin:0px;
    background-color:#EEEEEE;
    font-family:Verdana;
    font-size:12px;
}

h1 
{
    margin:0px;
    padding:4px;
    background-color:#9CB6FF;
    color:#173380;
}

h2 
{
    margin:0px;
    padding:4px;
}

h3 
{
    margin:0px;
    padding:4px;
}

div.mainContent
{
    padding:4px;
    width:99%;
}

div.instrument-server 
{
    width:49%;
    overflow:hidden;
    float:left;
}

div.instrument-group 
{
    width:100%;
    overflow:hidden;
    float:none;
}

fieldset
{
    float:left;
    width:250px;
}

fieldset.InvocationTimer
{
    height:150px;
}

fieldset.Meter
{
    height:150px;
}

fieldset.Logger
{
    height:160px;
    width:528px;
    overflow-x: hidden; 
    overflow-y: scroll; 
}