body
{
    margin:0px;
    background-color:#EEEEEE;
    font-family:Verdana;
    font-size:12px;
}

h1 
{
    margin:0px;
    padding:4px;
    background-color:#9CB6FF;
    color:#173380;
}

h2 
{
    margin:0px;
    padding:4px;
}

div.mainContent
{
    padding:4px;
    width:99%;
}

div.instrument-group 
{
    width:49%;
    overflow:hidden;
    float:left;
}

fieldset 
{
    float:left;
    width:250px;
    height:120px;
}