@inherits System.Web.Mvc.WebViewPage
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1>NWiretap monitor</h1>
    <div>
        
        @RenderBody()
    </div>
</body>
</html>
